body
{
    margin: 1;
    padding: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f172a 0%, #1e2937 100%); 
            color: #e2e8f0;
background-color: aquamarine;

}